@tailwind base;
@tailwind components;
@tailwind utilities;

/*This is the styling for the colors of the page.*/

:root {
  --text-color: #021225;
  --text-size: 5rem;
}

.text__blue-pink {
  background-image: linear-gradient(360deg, #1e1b4b, #ee0e73, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text__blue-fuchisa {
  background-image: linear-gradient(360deg, #d946ef, #2e1065, #db2777);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.button__background {
  background-image: linear-gradient(50deg, #0677ac, #4a044e);
  color: #f3e8ff;
}

.button__background:hover {
  opacity: 0.8;
}

.text__color {
  color: var(--text-color);
}

.special__button {
  background-color: #fbbf24;
}

.unique__text {
  background-image: linear-gradient(30deg, #ca8a04, #082f49, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*Styling for mix-blend of the sections of our potentials*/
.mix-blend::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(360deg, #1e1b4b, #ee0e73, red);
  mix-blend-mode: multiply;
}
.mix-blends::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(30deg, #f7f5f5, #1e1b4b, #ee0e73);
  opacity: 0.3;
  background-position: center;
  mix-blend-mode: multiply;
}

/*Spreading background colors*/

.first-spread {
  background-image: linear-gradient(180deg, #5c0feb, #cf0d0d);
  filter: blur(200px);
}

.second-spread {
  background-image: linear-gradient(360deg, #e11d48, #1e40af, #eab308);
  filter: blur(200px);
}
p,
span {
  color: #94a3b8;
}

.text-uniq {
  color: #121213;
}

.light-background {
  background-image: white;
}

.button-hover:hover::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(360deg, #5757fd, #421a03, #1f0101);
  width: 100%;
  height: 3px;
  justify-content: center;
  top: 100%;
  animation: underline ease-in-out 0.3s;
}
.button-hover:active::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(360deg, #5757fd, #421a03, #1f0101);
  height: 3px;
  top: 100%;
  justify-content: center;
}

@keyframes underline {
  0% {
    width: 0;
    transform: translateX(-0%);
  }
  100% {
    width: 100%;
    transform: translateX(0%);
  }
}
