@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-img {
  background-image: url("../public/utilityImg/footer-img.jpg");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #2e1065, #365314, #f59e0b);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(360deg, #4c0519, #facc15, #1e3a8a);
  width: 5px;
  border-radius: 10px;
}

/* .visible-after::after {
  content: url("../public//LandImg//credibleImg.jpg");
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
} */
